<p>Bonjour <%= @user.first_name %>,</p>

<p>Bienvenue</p>

<p>Vous pouvez maintenatn acheter et venndre des produit sur la plateforme epicerie de l'écomotive</p>
rendez vous sur <%= link_to "l'écomotive", articles_url %>

<p>Bonne journée</p>

