<p>Bonjour <%= @user.first_name %>,</p>

<p>Vous pouvez maintenant faire vos emplettes sur l'eEpicerie de l'écomotive</p>
rendez vous sur <%= link_to "l'écomotive", articles_url %>
<p>Sachez que vous pouvez également y vendre les confitures de votre grand-mère pour acheter votre.... enfin ce que vous voulez quoi !</p>
rendez vous sur <%= link_to "l'écomotive", mysales_url %>

<p>Bonne journée</p>

