.row{
  width: 100%;
}

.banner{
  display: flex;
  align-items: center;
  text-align: center;
  height: 60vh;
  background: url(orgaya-9.jpg);
  background-size: cover;
  color: white;
  justify-content: center;
}

.banner-content{
  color: white;
  position: absolute;
}

.up_banner{
  position: relative;
  top: 10px;
  background: linear-gradient(rgba(138,128,128,0.8), rgba(0,0,0,0.6))
}

/*popular*/
.card-category{
position: absolute;
right: 10px;
top: 10px;
}

.img_box{
  background-color: yellow;
  // grid-row: 1 / span 1;
  // grid-column: 1 / span 3;
}

.cards_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: orange;
  padding: 20px;
  // grid-row: 1 / span 1;
  // grid-column: 4 / span 9;
}

.cards{
  flex: 0 0 200px;
}
