
<div class="container">

  <div class="row">
    <div class="searchbar">
      <form class="search" action="/articles/search" method= "get" >
        <input class="searchTerm"  type="text" placeholder="Rechercher" name="query" />
        </input>
        <input class="searchButton" type="submit">
      </form>
    </div>
  </div>


<%= render 'display_cards', articles: @articles %>


</div>


