<div class="footer">
  <div class="footer-links">
    <%= link_to 'Le Concept', "" %> |
    <a href="https://www.facebook.com/lecomotive/"><i class="fa fa-facebook"></i></a>
  </div> |
  <div class="footer-copyright">
    2 Place des Marseillaises, 13001 Marseille, France. <i class="fa fa-heart"></i>
  </div>
</div>
