<%= render 'orders/buttonsventes' %>

<div class="container" id="inbox" style="margin:20px; align-items:center">
<h1>Mes commandes en attente pickup</h1>
    <div class="row message unread" style="border-bottom: 1px solid #ccc; padding: 0.4em 0; cursor: pointer; font-weight: bold;
  background-color: white;">
      <div class="col-xs-3">Commande</div>
      <div class="col-xs-3">Acheteur</div>
      <div class="col-xs-3">Prix</div>
      <div class="col-xs-3">Actions</div>
    </div>
    <% @orders.each do |order| %>
    <div class="row message read" style="background-color: #eee;">
      <div class="col-xs-3"><%= order.article.name.upcase %> </div>
      <div class="col-xs-3"><%= order.user.first_name %></div>
      <div class="col-xs-3"><%= order.article.price %>€</div>
      <div class="col-xs-3">
      </div>
    </div>
    <% end %>
  </div>
