<div class="container">
  <div class="row">
    <div class="banner">
      <div class="banner-content">
        <div class="up_banner"><%= image_tag "logo1.png"%></div>
        <h1>Reservez votre panier L'Ecomotiv
          <i class="fa fa-smile-o" aria-hidden="true"></i>
        </h1>
        <a class="btn-treehouse btn-lg"></a>
      </div>
    </div>
  </div>
  <div class="row">
  <h2>Le Concept</h2>
    <div class="img_box col-xs-3">
    <h2>image to place</h2>
    </div>
    <div class="cards_container col-xs-9">
      <ul class="list-inline">
        <li>
          <div class="cards">
            <div class="card-description">
              <%= image_tag "outils.jpg", size: "80x80"%>
              <p>some stuff</p>
            </div>
          </div>
        </li>
        <li>
          <div class="cards">
            <div class="card-description">
              <%= image_tag "outils.jpg", size: "80x80"%>
              <p>blablablala</p>
            </div>
          </div>
        </li>
        <li>
          <div class="cards">
            <div class="card-description">
              <%= image_tag "outils.jpg", size: "80x80"%>
              <p>some stuff</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>





